In [1]:
import pandas as pd

In [149]:
df = pd.read_excel("订单数据.xlsx", header=None)

In [154]:
mapping=dict(zip(df[0],df[1]))

In [155]:
mapping

{'名称': '钢笔', '价格': 199}

In [5]:
from docx import Document
doc=Document(docx="订单信息.docx")

In [14]:
table = doc.tables[0]

In [19]:
type(table.rows)

docx.table._Rows

In [37]:
list_data = []

In [38]:
len_=len(table.rows)
for i in range(len_):
    row=table.rows[i]
    data=[]
    for cell in row.cells:
        data.append(cell.text)
    list_data.append(data)

In [39]:
list_data

[['名称', '', '类型', ''], ['价格', '', '重量', '']]

In [50]:
from openpyxl import load_workbook

In [120]:
wb=load_workbook(filename="订单信息.xlsx")

In [121]:
ws=wb.active

In [100]:
excel_data=[]
for row in list(range(1,20)):
    row_data=[]
    for col in list(range(1,20)):
        row_data.append(ws.cell(row=row, column=col).value)
    excel_data.append(row_data)

In [101]:
df_excel = pd.DataFrame(excel_data).dropna(axis="index", how="all")

In [102]:
df_excel = df_excel.dropna(axis="columns", how="all")

In [106]:
df_excel

      0     1
0  订单信息  None
1    类型    文具
2    价格  None
3    名称  None
4    重量   20g

In [111]:
ws.cell(row=2, column=5).value == None

True

In [156]:
for row in list(range(1, 20)):
    row_data = []
    for col in list(range(1, 20)):
        val = ws.cell(row=row, column=col).value
        cell_right = ws.cell(row=row, column=col+1)
        crval = cell_right.value
        if crval == None:
            if val in mapping:
                crval = mapping[val]
        else:
            mapping[val] = crval

In [157]:
mapping

{'名称': '钢笔', '价格': 199, '类型': '文具', '重量': '20g'}

In [140]:
wb.save("订单信息-out.xlsx")

In [162]:
df2=pd.DataFrame(list_data)

In [163]:
df2

    0 1   2 3
0  名称    类型
1  价格    重量

In [164]:
len(df2.columns)

4

In [160]:
len(df2.index)

2

In [161]:
mapping

{'名称': '钢笔', '价格': 199, '类型': '文具', '重量': '20g'}

In [172]:
for i in range(len(table.rows)):
    for j in range(len(table.rows[i].cells)):
        text = table.cell(i, j).text
        if text in mapping:
            print(text)
            try:
                table.cell(i, j+1).text = str(mapping[text])
            except:
                pass

名称
类型
价格
重量

In [173]:
doc.save("订单信息-out.docx")